    <br />
    <h1>Quiz One</h1>
    <br />
    <h2>This is a page with static content.</h2>
    <ol>
      <li>It is a rails application.</li>
      <li>It is hosted on <b>Heroku</b>.</li>
      <li>The code is hosted on <b>GitHub</b>.</li>
      <li><i>The headline is a non-black color.</i></li>
    </ol>
    <br />
    <br />
    <h1>Quiz Two</h1>
    <br />
    <ol>
      <li>This page now has a model and database.</li>
      <li>It has the <b>SimpleForm</b> gem and a <i>form.</i></li>
    </ol>
    <ul>
    <li><%= link_to 'Contribute', new_review_path %></li>
    </ul>